* {
    box-sizing: border-box;
    /* max-width: 414px; */
    /* margin: 0 auto; */
}

html {
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;

}

/* cor de fundo da página */
body {
    background-color: #eeeeee;
}

/* formatação da barra do topo */
header {
    width: 100%;
    height: 92px;
    background-color: #cf2b2b;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

header p {
    color: #fff;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin: 0 0 18px 21px;
}

h1 {
    color: #fff;
    font-family: 'Righteous', cursive;
    font-size: 44px;
    /* line-height: 55px; */
    letter-spacing: -0.012em;
    margin: 8px 0 4px 21px;
}

/* ajuste da altura do itens abaixo da barra do topo após fixagem */
main {
    margin-top: 123px;
    margin-left: 3px;
    margin-bottom: 108px;
}

/* formatação do início de cada seleção */
h2 {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    margin: 22px 0 10px 16px;
    color: #333333;
}

/* formatação dos itens selecionáveis */
.pratos,
.bebidas,
.sobremesas {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    flex-wrap: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 5px 0;
}

/* Oculta a barra de rolagem */
/* .pratos::-webkit-scrollbar,
.bebidas::-webkit-scrollbar,
.sobremesas::-webkit-scrollbar {
    display: none;
} */

/* definição do tamanho e características de cada item selecionável */
.prato,
.bebida,
.sobremesa {
    min-width: 172px;
    display: flex;
    flex-direction: column;
    padding: 18px 14px 13px;
    margin-left: 16px;
    /* margin: 4px 16px 4px 0; */
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
}

.prato img {
    width: 144px;
    height: 87px;
}

/* formatação do nome de cada item */
h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin: 8px 0 4px 0;
    color: #333;
}

/* texto abaixo do nome do item */
p {
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    color: #a6a6a6;
    margin-bottom: 5px;
}

.prato p,
.bebida p,
.sobremesa p {
    width: 144px;
}

/* preço */
h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #000;
}

/* barra do final da página */
footer {
    width: 100%;
    height: 92px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

footer button {
    width: 364px;
    height: 61px;
    background-color: #cbcbcb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #cbcbcb;
    border-radius: 50px;
}

footer button p {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.018em;
    font-weight: 400;
    color: #fff;
    margin: 20%;
    text-align: center;
}

ion-icon {
    width: 19px;
    height: 19px;
    position: absolute;
    bottom: 14px;
    right: 11px;
    display: none;
}

.buttonClicked {
    box-shadow: inset 0 0 0 5px #32b72f;
}

.buttonClicked ion-icon {
    color: #32b72f;
    display: block;
}

.botao-ativado {
    background-color: #32B72F;
}

.finalizar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: rgba(256, 256, 256, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
}

.fechado {
    display: flex;
}

.revisao {
    display: flex;
    flex-direction: column;
    width: 377px;
    height: 353px;
    border-radius: 9px;
    background-color: #50d074;
    /* justify-content: center; */
    /* align-items: center; */
    margin: auto auto;
}

.revisao h5 {
    /* font-family: 'Roboto', sans-serif; */
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: #fff;
    margin-top: 21px;
    letter-spacing: 0.01em;
}

.revisao table {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.018em;
    margin: 28px 26px 11px;
    color: #fff;
}

tr {
    height: 40px;
}

.right {
    text-align: right;
}

.total {
    font-weight: bold;
}

.revisao button {
    width: 333px;
    min-height: 52px;
    margin: 0 auto;
}

.pedir {
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    color: #50d074;
    letter-spacing: 0.018em;
    background-color: #fff;
    border: none;
    border-radius: 100px;
}

.cancelar {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.018em;
    color: #fff;    
    background-color: transparent;
    border: none;
}