* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* cor de fundo da página */
body {
    background-color: #eeeeee;
}

/* formatação da barra do topo */
header {
    width: 100%;
    height: 92px;
    background-color: #cf2b2b;
    position: fixed;
    top: 0;
    left: 0;
}

header p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin: 0 0 18px 21px;
}

h1 {
    color: #fff;
    font-family: 'Righteous', cursive;
    font-size: 44px;
    /* line-height: 55px; */
    letter-spacing: -0.012em;
    margin: 8px 0 4px 21px;
}

/* ajuste da altura do itens abaixo da barra do topo após fixagem */
main {
    margin-top: 123px;
    margin-left: 19px;
    margin-bottom: 108px;
}

/* formatação do início de cada seleção */
h2 {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    margin-top: 27px;
    margin-bottom: 15px;
    color: #333333;
}

/* formatação dos itens selecionáveis */
.pratos,
.bebidas,
.sobremesas {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    flex-wrap: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Oculta a barra de rolagem */
.pratos::-webkit-scrollbar,
.bebidas::-webkit-scrollbar,
.sobremesas::-webkit-scrollbar {
    display: none;
}

/* definição do tamanho e características de cada item selecionável */
.prato,
.bebida,
.sobremesa {
    min-width: 172px;
    display: flex;
    flex-direction: column;
    padding: 18px 14px 13px;
    margin-right: 16px;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}

.prato img {
    width: 144px;
    height: 87px;
}

/* formatação do nome de cada item */
h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin: 8px 0 4px 0;
    color: #333;
}

/* texto abaixo do nome do item */
p {
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    color: #a6a6a6;
    margin-bottom: 5px;
}

/* preço */
h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #000;
}

/* barra do final da página */
footer {
    width: 100%;
    height: 92px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

footer a {
    width: 364px;
    height: 61px;
    background-color: #cbcbcb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    
    border-radius: 50px;
}

footer a p {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.018em;
    font-weight: 400;
    color: #fff;
    margin: 0;
}